html{
    font-family: 'Lato', sans-serif;
}
h1{
    font-size: 65px;
    color: #747704;
}
h2{
    color:#BCBBBB;
}
h3{
    color: #747704;
    text-align: center;
    font-size: 35px;
}
.designation{
    font-size: 25px;
}
.border-bottom1{
    border-bottom: 50px;
    border-bottom-style: solid;
    border-bottom-width: thick;
    border-bottom-color: #BCBBBB;
}
.largeImage{
    padding-top: 15px;
}
.link{
    text-align: center;
}