<div class=container>
  <div class=row>
    <div class=col-lg-6>
      <h2>Student Information</h2>
      <a routerLink=/user-custom-main-page>Update Information</a>
      <span class=studentInfo>
          <p>Full name: {{ information?.studentName }}</p>
          <br>
          <p>Student Email: {{ information?.studentEmail }}</p>
          <br>
      </span>
  </div>
    <div>
      <h2>Courses you are enrolled in</h2>
      <a routerLink=/user-course-enrollment>Update Courses</a>
      <ul *ngFor="let course of MainCourses">
        <div class=row>
          <li>
            <div class=col-lg-6>
              <span class=studentInfo>
              <i>{{course.name}}</i>
              <i>{{course.dept}}-{{course.num}}</i>
              <i>{{course.desc}}</i>
              <i>{{course.time}}</i>
                </span>
            </div>
          </li>
        </div>
      </ul>
    </div>

  </div>

</div>
